
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://kit.fontawesome.com/7a98527200.js" crossorigin="anonymous"></script>
    <title>_Layout2</title>
</head>
<body>
    <header class="demas"><div class="Logo-header"><img src="~/Content/img/Logi2.png"/></div></header>
    <div>
        @RenderBody()

    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="#" class="icon-footer"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#" class="icon-footer"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="#" class="icon-footer"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#" class="icon-footer"><span class="fab fa-google-plus-g"></span></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
