@model UTECProject.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <div class="Logo"><img src="img/Logi.png" alt="Logo" id="Logo"></div>


@Html.BeginForm()